@use "theme";
@use "library" as * with (
	$theme: theme.$theme,
);

$lightBackgroundColor: rgb(246, 246, 246); // measured with color meter
$lightCursorColor: blend("default.light.keyboardFocusIndicatorColor", "default.light.shadowColor");
$darkBackgroundColor: use("default.dark.textBackgroundColor");
$darkCursorColor: blend("default.dark.keyboardFocusIndicatorColor", "default.dark.highlightColor");

$theme: (
	"light": (
		"backgroundColor": $lightBackgroundColor,
		"foregroundColor": blend("default.light.labelColor", $lightBackgroundColor),
		"boldColor": blend("default.light.secondaryLabelColor", $lightBackgroundColor),
		"badgeColor": use("default.light.tertiaryLabelColor"),
		"cursorColor": $lightCursorColor,
		"cursorGuideColor": use("default.light.keyboardFocusIndicatorColor", $alpha: .15),
		"cursorTextColor": blend("default.light.highlightColor", $lightCursorColor),
		"linkColor": blend("default.light.linkColor", $lightBackgroundColor),
		"selectedTextColor": blend("default.light.selectedTextColor", $lightBackgroundColor),
		"selectionColor": blend("default.light.selectedTextBackgroundColor", $lightBackgroundColor),

		"blackColor": use("default.light.shadowColor"),
		"redColor": use("accessible.light.systemRed"),
		"greenColor": use("accessible.light.systemGreen"),
		"yellowColor": use("accessible.light.systemBrown"),
		"blueColor": use("accessible.light.systemBlue"),
		"magentaColor": use("accessible.light.systemPurple"),
		"cyanColor": use("accessible.light.systemTeal"),
		"whiteColor": blend("default.light.highlightColor", "default.light.shadowColor", $alpha: .85),

		"brightBlackColor": blend("default.light.shadowColor", $lightBackgroundColor, $alpha: .65),
		"brightRedColor": use("default.light.systemRed"),
		"brightGreenColor": use("default.light.systemGreen"),
		"brightYellowColor": use("default.light.systemBrown"),
		"brightBlueColor": use("default.light.systemBlue"),
		"brightMagentaColor": use("default.light.systemPurple"),
		"brightCyanColor": use("default.light.systemTeal"),
		"brightWhiteColor": use("default.light.highlightColor"),
	),

	"dark": (
		"backgroundColor": $darkBackgroundColor,
		"foregroundColor": blend("default.dark.textColor", $darkBackgroundColor),
		"boldColor": blend("default.dark.secondaryLabelColor", $darkBackgroundColor),
		"badgeColor": use("default.dark.tertiaryLabelColor"),
		"cursorColor": $darkCursorColor,
		"cursorGuideColor": use("default.dark.keyboardFocusIndicatorColor", $alpha: .15),
		"cursorTextColor": use('default.dark.shadowColor'),
		"linkColor": blend("default.dark.linkColor", $darkBackgroundColor),
		"selectedTextColor": blend("default.dark.selectedTextColor", $darkBackgroundColor),
		"selectionColor": blend("default.dark.selectedTextBackgroundColor", $darkBackgroundColor),

		"blackColor": use("default.dark.shadowColor"),
		"redColor": use("default.dark.systemRed"),
		"greenColor": use("default.dark.systemGreen"),
		"yellowColor": use("default.dark.systemYellow"),
		"blueColor": use("default.dark.systemBlue"),
		"magentaColor": use("default.dark.systemPurple"),
		"cyanColor": use("default.dark.systemTeal"),
		"whiteColor": blend("default.dark.highlightColor", $darkBackgroundColor, $alpha: .65),

		"brightBlackColor": blend("default.dark.shadowColor", "default.dark.highlightColor", $alpha: .65),
		"brightRedColor": use("accessible.dark.systemRed"),
		"brightGreenColor": use("accessible.dark.systemGreen"),
		"brightYellowColor": use("accessible.dark.systemYellow"),
		"brightBlueColor": use("accessible.dark.systemBlue"),
		"brightMagentaColor": use("accessible.dark.systemPurple"),
		"brightCyanColor": use("accessible.dark.systemTeal"),
		"brightWhiteColor": use("default.dark.highlightColor"),
	),
);

@each $scheme, $color-map in $theme {
	#{$scheme} {
		@each $name, $color in $color-map {
			#{$name}: #{array($color)};
		}
	}
}
